.container{
    background-color: #F5F5F5;
    padding: 30px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.container_title{
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}
.wrapper_button{
    background-color: #F5F5F5;
}
.wrapper{
    /*border: 1px solid #A5A5A5;*/
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #CFDAC8;
    margin: 20px 15px 10px 15px;
    border-radius: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display:flex;
}
.item_camera{
    /*display: inline-block;*/
    width: 45%;
    height: 360px;
    border-radius: 10px;
    background-color: white;
    margin:10px;
    /*padding: 1px 15px 15px 15px;*/
    /*justify-content: space-around;*/
}
.setting_button{
    float: right;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: white;
    border: solid 1px black;
    padding: 10px;
    font-weight: bold;
}
.setting_button:hover{
    transform: translateY(-2px);
}

.finish_button{
    float: right;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #ED8080;
    border: solid 1px black;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}
.finish_button:hover{
    transform: translateY(-2px);
}
.modal_button{
    font-size: 15px;
    border: none;
    background-color:white;
    font-weight: bold;
}
.modal_popup{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
    display: flex;
    justify-content:center;
    align-items: center;
}
.modalCloseButton{
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    color: rgba(0,0,0,0.7);
    background-color: transparent;
    font-size: 20px;
}
.modalCloseButton:hover{
    cursor: pointer;
}
.modal_body{
    position:absolute;
    width: 300px;
    height: 500px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}