.container{
    background-color: #F5F5F5;
    padding: 30px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.container_title{
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}
.wrapper_button{
    background-color: #F5F5F5;
}
.wrapper{
    /*border: 1px solid #A5A5A5;*/
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #CFDAC8;
    margin: 20px 15px 10px 15px;
    border-radius: 10px;
    /* justify-content: space-evenly;
    flex-wrap: wrap;
    display:flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0;
}
.item_camera_wrapper{
    /*display: inline-block;*/
    /* width: 45%;
    height: 360px; */
    width: calc(100% - 20px);
    overflow: hidden;
    border-radius: 10px;
    /* background-color: white; */
    margin:10px;
    /*padding: 1px 15px 15px 15px;*/
    /*justify-content: space-around;*/
}
.item_camera{
    width:100%;
}
.setting_button{
    float: right;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: white;
    border: solid 1px black;
    padding: 10px;
    font-weight: bold;
}
.setting_button:hover{
    transform: translateY(-2px);
}

.finish_button{
    float: right;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #ED8080;
    border: solid 1px black;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}
.finish_button:hover{
    transform: translateY(-2px);
}
.modal_button{
    font-size: 15px;
    border: none;
    background-color:white;
    font-weight: bold;
}
.modal_popup{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
    display: flex;
    justify-content:center;
    align-items: center;
}
.modalCloseButton{
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    color: rgba(0,0,0,0.7);
    background-color: transparent;
    font-size: 15px;
}
.modalCloseButton:hover{
    cursor: pointer;
}
.modal_body{
    position:absolute;
    width: 300px;
    height: 500px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    /*justify-content:space-evenly;*/
    /*align-items: center;*/
}
.modal_title{
    font-weight: bold;
    font-size: 25px;
}
.modal_opt{
    padding: 10px;
    margin: 15px;
}
.modal_opt_title{
    display: inline-block;
    float:left;
    font-weight: bold;
    font-size: 18px;
}
.modal_opt_switch{
    display: flex;
    float: right;
}
.switch {
    /*display: flex;*/
    /*align-items:center;*/
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
}
.switch span{
    margin-right: 8px;
}
.switch input {
    display: none;
}

.slider {
    /*display: flex;*/
    /*margin-left: 10px;*/
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E8EAE6;
    border-radius: 2px;
    border: solid black 1px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 9px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border: solid 1px black;
    border-radius: 1px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ED8080;
}

input:checked + .slider:before {
    -webkit-transform: translateX(7px);
    -ms-transform: translateX(7px);
    transform: translateX(12px);
}